body{
  margin: 0;
  padding: 0;

}
.box{
  background-color: yellow;
  
}
.inner-box{
  display: flex;
  justify-content: center;
   align-items: center;
   padding-top: 40px;
}
.box th{
   width: 300px;
   text-align: left;
}

.App {
  
  background-color: rgb(98, 98, 98);
  
   height: 100vh;
 
}
.input-text{
  width: 100%;
  margin-top: 10px;
}
input{
  
  padding: 10px 3px;
}
.app-inner{
  width: 500px;
}
.displayUsers {
  margin-top: 20px;
}

.displayUsers div {
  width: 400px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
